.patternNameDiv {
  margin-bottom: 20px;
}

form {
  margin-bottom: 30px;
}

.trackAndLengthDiv {
  margin-top: 20px;
}

.text {
  display: inline-block;
}
.postText {
  display: inline-block;
}

input[type=hidden] {
  display: none;
}

.errors {
  display: inline;
  color: red;
}
