body {
  background-color: #2f3451;
  color: white;
}

.patternNameDiv {
  margin-bottom: 20px;
}

form {
  margin-bottom: 30px;
}

.trackAndLengthDiv {
  margin-top: 20px;
}

.text {
  display: inline-block;
}
.postText {
  display: inline-block;
}

input[type=hidden] {
  display: none;
}

.errors {
  display: inline;
  color: red;
}

.error {
  display: block;
  color: red;
}

.button {
  display: inline;
  background-color: #496cb2;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 5px;
}
