.singleTrack {
  display: block;
  position: relative;
  margin: 30px 0px;
}

.trackNameSoundDiv {
  display: inline-block;
  position: relative;
}

.talText {
  width: 50px;
}

.trackText {
  width: 85px;
}

.postText {
  width: 180px;
}
