@import nl.sogyo.karhythm.forms._
@(patternForm: Form[PatternForm], allSoundNames: Option[Seq[Option[String]]])(implicit messages: Messages)
@implicitField = @{ helper.FieldConstructor(checkboxFieldConstructor.f) }
@helper.repeatWithIndex(patternForm("boxes")) { (s, trackNumber) =>
<div class="singleTrack" id='trackdiv-@trackNumber'>
    @trackNameSoundsFormPart(patternForm, trackNumber, allSoundNames)
    <div class='checkboxWrapper'>
    @helper.repeatWithIndex(s) { (c, beat) =>
    @helper.input(c){ (id, name, isChecked, args) =>
        <input type='checkbox' class='pccheckbox' id='@id'
               data-beat='@beat' data-tracknumber='@trackNumber'
               name='boxes[@trackNumber][@beat]' value='true'
               @if(isChecked.get== "true") { checked } else {} />
    <input type='hidden' class='pccheckboxhidden' id='hidden_@id'
           data-beat='@beat' data-tracknumber='@trackNumber'
           name='boxes[@trackNumber][@beat]' value='false' />
    }
    }
    </div>
</div>
}
