@import nl.sogyo.karhythm.forms._
@(map: Option[Map[Int, String]], allSoundNames: Option[Seq[Option[String]]], patternForm: Form[PatternForm], username: Option[String])(implicit messages: Messages, rh: RequestHeader)
@implicitField = @{ helper.FieldConstructor(plainFieldConstructor.f) }

@views.html.main("KBD"){
    <link rel='stylesheet' media='screen' href='@routes.Assets.versioned("stylesheets/checkboxes.css")' />
    <link rel='stylesheet' media='screen' href='@routes.Assets.versioned("stylesheets/controls.css")' />
    <link rel='stylesheet' media='screen' href='@routes.Assets.versioned("stylesheets/track.css")' />
}{
    <h1>KBD</h1>
    <div id='greeting'>
        Hello @if(username.isDefined) {@username.get} else {visitor}!
    </div>

    @helper.form(routes.PatternController.postPattern, 'id -> "pattern_form") {
        @helper.CSRF.formField
        @helper.input(patternForm("name")){(id, name, value, args) =>
        <div id='patternNameDiv' class='patternNameDiv'>
            <label for='patternName' class='text patternText'>Pattern name:</label>
            <div class='postText'>
                <input id='patternName' name='name' value='@value'/>}
            </div>
        </div>
        @checkboxFormPart(patternForm, allSoundNames)
        @trackAndLengthFormPart(patternForm)
        <button type='submit' id='saveButton' class='button'>Save</button>
    }
    @controls() <br />
    @if(!map.isEmpty) { @insertAudio(map.get) }

    <div id='logbutton'>
        @if(username.isDefined) {
            <a href='/logout' class='button'>Log out</a>
        } else {
            <a href='login' class='button'>Log in</a>
        }
    </div>
    <script src='@routes.Assets.versioned("javascripts/Utilities.js")' type='text/javascript'></script>
    <script src='@routes.Assets.versioned("javascripts/Pattern.js")' type='text/javascript'></script>
    <script src='@routes.Assets.versioned("javascripts/Player.js")' type='text/javascript'></script>
    <script src='@routes.Assets.versioned("javascripts/document.js")' type='text/javascript'></script>
}