@import nl.sogyo.karhythm.forms._

@(patternForm: Form[PatternForm])(implicit messages: Messages)

@implicitField = @{ helper.FieldConstructor(trackAndLengthFieldConstructor.f) }

<div id='trackAndLengthDiv' class='trackAndLengthDiv'>
@helper.input(patternForm("tracks")){(id, name, value, args) =>
    <div id='trackDiv' class='trackDiv'><label for='patternTracks' class='text talText'>Tracks:</label>
    <div class='postText'>
        <input id='patternTracks' name='tracks' value='@value'/>
    </div>
    </div>
}
@helper.input(patternForm("length")){(id, name, value, args) =>
    <div id='lengthDiv' class='lengthDiv'><label for='patternLength' class='text talText'>Length:</label>
    <div class='postText'>
        <input id='patternLength' name='length' value='@value'/>
    </div>
    </div>
}
</div>