@import nl.sogyo.karhythm.forms._
@(patternForm: Form[PatternForm], trackNumber: Int, allSoundNames: Option[Seq[Option[String]]])(implicit messages: Messages)
@implicitField = @{ helper.FieldConstructor(plainFieldConstructor.f) }

<div id='trackNameSound_@trackNumber' class='trackNameSoundDiv'>
@helper.input(patternForm("tracknames")("[" + trackNumber + "]")) { (id, name, value, args) =>
<div id='trackName_@trackNumber' class='trackNameDiv'>
    <label for='name_@trackNumber' class='text trackText'>Track name:</label>
    <div class='postText trackNumberDiv'>
        <input id='name_@trackNumber' name='tracknames[@trackNumber]' value='@value' data-id='@id' data-name='@name'/>
    </div>
</div>
}
@helper.input(patternForm("soundnames")("[" + trackNumber + "]")) { (id, name, value, args) =>
<div id='trackSound_@trackNumber' class='trackSoundDiv'>
    <label for='sound_@{trackNumber}' class='text trackText'>Track sound:</label>
    <div class='postText trackSoundDiv'>
        @trackSoundsFormPart(trackNumber, id, name, value, allSoundNames)
    </div>
</div>
}
</div>