@import nl.sogyo.kbd.forms._

@(patternForm: Form[PatternForm])(implicit messages: Messages)

@implicitField = @{ helper.FieldConstructor(checkboxFieldConstructor.f) }

@helper.repeatWithIndex(patternForm("boxes")) { (s, trackNumber) =>
    <div class="singleTrack" id='trackdiv-@trackNumber'>
    @helper.repeatWithIndex(s) { (c, beat) =>
        @helper.input(c){ (id, name, isChecked, args) =>
        <input type='checkbox' class='pccheckbox' id='@id'
               data-beat='@beat' data-trackNumber='@trackNumber'
               @if(isChecked.get == "true") { checked } else {} />
        }
    }
    </div>
}
