@import nl.sogyo.kbd.forms._
@(map: Map[Int, String], soundNames: Seq[Option[String]], patternForm: Form[PatternForm])(implicit messages: Messages, rh: RequestHeader)
@implicitField = @{ helper.FieldConstructor(plainFieldConstructor.f) }

@main("KBD") {
    <h1>KBD</h1>
    @helper.form(routes.PatternController.postPattern, 'id -> "pattern_form") {
        @helper.CSRF.formField
        @helper.input(patternForm("name")){(id, name, value, args) =>
        <div id='patternNameDiv' class='patternNameDiv'>
            <div class='text patternText'>Pattern name:</div>
            <div class='postText'>
                <input id='name' name='name' value='@value'/>}
            </div>
        </div>
        @checkboxFormPart(patternForm, soundNames)
        @trackAndLengthFormPart(patternForm)
        <button type='submit' id='saveButton'>Save</button>
    }
    @controls() <br />
    @insertAudio(map)
    <script src='@routes.Assets.versioned("javascripts/Utilities.js")' type='text/javascript'></script>
    <script src='@routes.Assets.versioned("javascripts/Pattern.js")' type='text/javascript'></script>
    <script src='@routes.Assets.versioned("javascripts/Player.js")' type='text/javascript'></script>
    <script src='@routes.Assets.versioned("javascripts/document.js")' type='text/javascript'></script>
}