@import nl.sogyo.kbd.forms._
@(map: Map[Int, String], soundNames: Seq[Option[String]])(patternForm: Form[PatternForm])(implicit messages: Messages)
@implicitField = @{ helper.FieldConstructor(plainFieldConstructor.f) }

@main("Welcome to KBD") {
    <h1> Welcome to KBD! </h1>
    @helper.form(routes.HomeController.postPattern, 'id -> "pattern_form") {
        @helper.input(patternForm("name")){(id, name, value, args) => Pattern name: <input id='name' name='name' value='@value'/>}
        @checkboxFormPart(patternForm, soundNames)
        @trackAndLengthFormPart(patternForm)
        <button type='submit' id='saveButton'>Save</button>
    }
    @controls() <br />
    @insertAudio(map)
    <script src='@routes.Assets.versioned("javascripts/Utilities.js")' type='text/javascript'></script>
    <script src='@routes.Assets.versioned("javascripts/Pattern.js")' type='text/javascript'></script>
    <script src='@routes.Assets.versioned("javascripts/Player.js")' type='text/javascript'></script>
    <script src='@routes.Assets.versioned("javascripts/document.js")' type='text/javascript'></script>
}