@import nl.sogyo.kbd.forms._

@(patternForm: Form[PatternForm])(implicit messages: Messages)

@implicitField = @{ helper.FieldConstructor(plainFieldConstructor.f) }

<div id='trackAndLengthDiv' class='trackAndLengthDiv'>
@helper.input(patternForm("tracks")){(id, name, value, args) =>
    <div id='trackDiv' class='trackDiv'><div class='text talText'>Tracks:</div>
    <div class='postText'>
        <input id='tracks' name='tracks' value='@value'/>
    </div>
    </div>
}
@helper.input(patternForm("length")){(id, name, value, args) =>
    <div id='lengthDiv' class='lengthDiv'><div class='text talText'>Length:</div>
    <div class='postText'>
        <input id='length' name='length' value='@value'/>
    </div>
    </div>
}
</div>